<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrselectronics.overlay.carserviceupdatable">
    <application android:hasCode="false" />
    <overlay
        android:targetPackage="com.android.car.updatable"
        android:isStatic="true"
        android:priority="1" />
</manifest>
