<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrselectronics.gaugecluster"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
    <uses-permission android:name="android.car.permission.CAR_ENERGY"/>
    <uses-permission android:name="android.car.permission.CAR_SPEED"/>
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN"/>
    <uses-permission android:name="android.car.permission.CAR_INSTRUMENT_CLUSTER_CONTROL"/>
    <uses-permission android:name="android.car.permission.CAR_MONITOR_INPUT"/>

    <application
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/Theme.GaugeCluster"
        android:directBootAware="true">

        <activity
            android:name="com.mrselectronics.gaugecluster.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:showForAllUsers="true"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor"
            android:configChanges="uiMode|mcc|mnc">
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
