<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrs.gaugecluster"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.car.permission.CAR_ENERGY"/>
    <uses-permission android:name="android.car.permission.CAR_SPEED"/>
    <uses-permission android:name="android.car.permission.CAR_POWERTRAIN"/>

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.GaugeCluster"
        android:directBootAware="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:resizeableActivity="true"
            android:showForAllUsers="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
